<div class="container">
  <div>
    <div class="form-group">
      <label for="card">Matricula</label>
      <input name="card" type="text" disabled class="form-control" [(ngModel)]="student.card">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="first_name">Nombre</label>
      <input name="first_name" type="text" class="form-control" [(ngModel)]="student.first_name">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="last_name">Apellido</label>
      <input name="last_name" type="text" class="form-control" [(ngModel)]="student.last_name">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="major_id">Carrera</label>
      <input name="major_id" type="text" class="form-control" [(ngModel)]="student.major_id">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="grade">Cuatrimestre</label>
      <input name="grade" type="text" class="form-control" [(ngModel)]="student.grade">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="curp">Curp</label>
      <input name="curp" type="text" class="form-control" [(ngModel)]="student.curp">
    </div>
  </div>

  <button class="btn btn-success btn-block" (click)="save()">Guardar</button>
</div>