<!-- <div class="container">
  <div>
    <div class="form-group">
      <label for="card">Matricula</label>
      <input name="card" type="text" [disabled]="disabled" class="form-control" [(ngModel)]="student.card">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="first_name">Nombre</label>
      <input name="first_name" type="text" class="form-control" [(ngModel)]="student.first_name">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="last_name">Apellido</label>
      <input name="last_name" type="text" class="form-control" [(ngModel)]="student.last_name">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="major_id">Carreras</label><br>
      <select class="form-control" [(ngModel)]="student.major_id">
        <option [value]="major.id" *ngFor="let major of majors">{{major.name}}</option>
      </select>
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="grade">Cuatrimestre</label>
      <input name="grade" type="text" class="form-control" [(ngModel)]="student.grade">
    </div>
  </div>
  
  <div>
    <div class="form-group">
      <label for="curp">Curp</label>
      <input name="curp" type="text" class="form-control" [(ngModel)]="student.curp">
    </div>
  </div>

  <button class="btn btn-success btn-block" (click)="save()">Guardar</button>
</div> -->

<div class="contact1">
  <div class="container-contact1">
    <div class="contact1-pic js-tilt" data-tilt>
      <img src="https://www.drawingtutorials101.com/drawing-tutorials/Video-Games/Mystic-Messenger/student-guest/how-to-draw-Student-Guest-from-Mystic-Messenger-step-0.png" alt="IMG">
    </div>

    <form class="contact1-form validate-form">
      <span class="contact1-form-title" *ngIf="modify">
        Editar estudiante
      </span>
      <span *ngIf="modify==false" class="contact1-form-title">
        Registrar nuevo estudiante
      </span>

      <div class="wrap-input1 validate-input">
        <input class="input1" type="text" name="card" placeholder="Matricula" [(ngModel)]="student.card">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input">
        <input class="input1" type="text" name="first_name" placeholder="Nombre" [(ngModel)]="student.first_name">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input">
        <input class="input1" type="text" name="last_name" placeholder="Apellido" [(ngModel)]="student.last_name">
        <span class="shadow-input1"></span>
      </div>

      <div class="wrap-input1 validate-input">        
        <select class="input1" name="major_id" [(ngModel)]="student.major_id">
          <option *ngFor="let major of majors" [value]="major.id">{{major.name}}</option>
        </select>
        <span class="shadow-input1"></span>
      </div>

      <!-- <div class="wrap-input1 validate-input">
        <input class="input1" type="" name="sex" placeholder="Genero">
        <span class="shadow-input1"></span>
      </div> -->

      <div class="wrap-input1 validate-input">
        <input class="input1" type="text" name="curp" placeholder="CURP" [(ngModel)]="student.curp">
        <span class="shadow-input1"></span>
      </div>

      <div class="container-contact1-form-btn">
        <button (click)="save(this.student)" class="contact1-form-btn">
          <span>
            Guardar
            <i class="far fa-save"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>