<div>
  <app-navbar-admin></app-navbar-admin>
  
  <!-- <div class="addButton align-content-center" style="position: absolute;">
    <input style="position: absolute;" type="checkbox" id="toggle">
    <label style="position: absolute;" for="toggle" class="button"></label>
  
    <nav class="nav" style="position: absolute;">
      <div class="row more">                  
          <label for="uno">Nombre</label>
          <input [(ngModel)]="major.name" class="form-control" type="text" name="uno" id="uno"><br>            
      </div>    
  
      <button (click)="agregar()" style="margin: 10px" class="btn btn-success btn-block">Guardar</button>
    </nav>
  </div> -->

    <!-- Button trigger modal -->
<button style="margin: 2em" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">
    Agregar Carrera
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Carrera</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <label for="uno">Nombre</label>
                <input [(ngModel)]="major.name" class="form-control" type="text" name="uno" id="uno">
              </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="agregar()" style="margin: 10px" class="btn btn-raised btn-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div>
      <div class="form-group">
        <label class="input-group-text" for="major_id">Carreras</label><br>
        <select class="custom-select" [(ngModel)]="major">
          <option [value]="major.id" *ngFor="let major of majors">{{major.name}}          
          </option>
        </select>
      </div>
    </div>
  
    <div class="row">
      <div class="col col-sm-6">
          <button class="btn btn-success btn-block" (click)="filter()">Buscar</button>
      </div>
      <div class="col col-sm-6">
          <a class="btn btn-info btn-block" [routerLink]="[ '/majorclasses/'+major]">Configurar</a>        
      </div>
    </div>        
  
    <div *ngIf="ready">
      <table style="text-align: center" class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Carrera</th>
            <th scope="col">Cuatrimestre</th>
            <th scope="col">CURP</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <tr *ngFor="let student of students | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
            <th scope="row">{{student.card}}</th>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.major_name}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.curp}}</td>
            <td>
              <a class="btn" [routerLink]="[ '/student/'+student.card ]">
                <i style="color:dodgerblue; font-size: 1.2em;" class="fas fa-edit"></i>
              </a>
              <button class="btn" (click)="delete(student.card)">
                <i style="color:crimson; font-size: 1.2em;" class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls style="margin-top: 2em; margin-bottom: 2em;" (pageChange)="p = $event"></pagination-controls>
    </div>
    
  </div>
</div>