<div class="container text-center">
  <h1>Carreras</h1>
</div>

<div class="addButton align-content-center" style="position: absolute;">
  <input style="position: absolute;" type="checkbox" id="toggle">
  <label style="position: absolute;" for="toggle" class="button"></label>

  <nav class="nav" style="position: absolute;">
    <div class="row more">                  
        <label for="uno">Nombre</label>
        <input [(ngModel)]="major.name" class="form-control" type="text" name="uno" id="uno"><br>            
    </div>    

    <button (click)="agregar()" style="margin: 10px" class="btn btn-success btn-block">Guardar</button>
  </nav>
</div>

<div class="container">
  <div>
    <div class="form-group">
      <label for="major_id">Carreras</label><br>
      <select class="form-control" [(ngModel)]="major">
        <option [value]="major.id" *ngFor="let major of majors">{{major.name}}</option>
      </select>
    </div>
  </div>

  <button class="btn btn-success btn-block" (click)="filter()">Buscar</button><br>

  <div *ngIf="ready">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Matricula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Carrera</th>
          <th scope="col">Cuatrimestre</th>
          <th scope="col">CURP</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <tr *ngFor="let student of students | filter:searchText | paginate: { itemsPerPage: 10, currentPage: p }">
          <th scope="row">{{student.card}}</th>
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.major_name}}</td>
          <td>{{student.grade}}</td>
          <td>{{student.curp}}</td>
          <td>
            <a class="btn btn-info" [routerLink]="[ '/student/'+student.card ]">Editar</a>
            <button class="btn btn-danger" (click)="delete(student.card)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>