<div>
  <app-navbar-admin></app-navbar-admin>
  <div>
    <div>            
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="padding: 1em" class="row">
          <div class="col col-sm-4" style="text-align: center">
            <h3 for="file">Agregar imagen</h3>
          </div>
          <div class="col col-sm-4">
            <input class="btn" type="file" name="file" id="file" (change)="onFileChange($event)" #fileInput>
          </div>
          <div class="col col-sm-4">
            <button type="submit" class="btn btn-raised btn-success">Guardar</button>
            <a class="btn btn-raised btn-primary" [routerLink]="[ '/take-photo/'+id]">Tomar foto</a>
          </div>
        </div>
      </form>
      <div class="container">
        <table style="text-align: center" class="table table-borderless" *ngIf="ready">
          <thead>
            <tr class="table100-head">
              <th class="column1">Matricula</th>
              <th class="column2">Imagen</th>
              <th class="column7"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let image of images | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">
              <td class="column1">{{image.card_id}}</td>
              <td class="column2">
                <img [src]="image.image" alt="IMG" width="50px" height="50px">
              </td>
              <td class="column3">
                <button class="btn" (click)="delete(image.id)">
                  <i style="color:crimson; font-size: 1.2em;" class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
        <br>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

</div>