
  <div class="limiter">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="home">SIDRIE</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="home">Estudiantes <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="majors">Carreras</a>
              <a class="nav-item nav-link" href="classes">Clases</a>
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
          </div>
        </nav>
    <div class="container-table100">                                  
      <div class="wrap-table100">
          <div class="text-center">
              <h1 style="color:white">{{title}}</h1>
            </div><br>
          <div class="search-student">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="&#61442;  Buscar Estudiante">
            </div><br>
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">Matricula</th>
                <th class="column2">Nombre</th>
                <th class="column3">Apellido</th>
                <th class="column4">Carrera</th>
                <th class="column5">Cuatrimestre</th>
                <th class="column6">CURP</th>
                <th class="column7">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students | filter:searchText | paginate: { itemsPerPage: 1, currentPage: p }">
                <td class="column1">{{student.card}}</td>
                <td class="column2">{{student.first_name}}</td>
                <td class="column3">{{student.last_name}}</td>
                <td class="column4">{{student.major_name}}</td>
                <td class="column5">{{student.grade}}</td>
                <td class="column6">{{student.curp}}</td>
                <td class="column7">
                  <a class="btn btn-info" [routerLink]="[ '/student/'+student.card ]">Editar</a>   
                  <button class="btn btn-danger" (click)="delete(student.card)">Eliminar</button>                
                </td>
              </tr>

            </tbody>
          </table>          
          <br>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>                
  </div>
  
</div>