<div>
  <app-navbar-admin></app-navbar-admin>

  <!-- Button trigger modal -->
  <button style="margin: 2em" type="button" class="btn btn-outline-info" data-toggle="modal"
    data-target="#exampleModal">
    Opciones
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Seleccionar archivo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
          <label for="subir">Subir lista</label><br>
          <input class="btn btn-block btn-outline-warning" type="file" (change)="onFileChange($event)" name="subir"/>
          <button class="btn btn-outline-success" (click)="actualizarTodos()">Guardar</button> <br><br>       
          <button class="btn btn-block btn-outline-warning" (click)="descargar()">Descargar lista</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="lista()" style="margin: 10px" class="btn btn-raised btn-success">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 1em" class="container">

    <div style="margin-bottom: 3em" class="row">
      <div class="col col-sm-2"></div>
      <div class="col col-sm-8">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Buscar...">
      </div>
      <div class="col col-sm-2"></div>
    </div>

    <div class="row">
      <table style="text-align: center" class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Carrera</th>
            <th scope="col">Cuatrimestre</th>
            <th scope="col">CURP</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody style="font-size: 14px">
          <tr *ngFor="let student of students | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">
            <th scope="row">{{student.card}}</th>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.major_name}}</td>
            <td>{{student.grade}}</td>
            <td>{{student.curp}}</td>
            <td>
              <a style="font-size: 1.2em;" class="btn" [routerLink]="[ '/images/'+student.card]">
                <i class="fas fa-images"></i>
              </a>
              <a class="btn" [routerLink]="[ '/student/'+student.card]">
                <i style="color:dodgerblue; font-size: 1.2em;" class="fas fa-edit"></i>
              </a>
              <button class="btn" (click)="delete(student.card)">
                <i style="color:crimson; font-size: 1.2em;" class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls style="margin-top: 2em; margin-bottom: 2em;" (pageChange)="p = $event"></pagination-controls>

  </div>
</div>